{%include 'Home/header.html'%}

<div class="container-fluid h-100 d-flex flex-column">
	<div class="row justify-content-center flex-grow-1">
		<div class="col-sm-9 single-blog h-100">
			<br/>

			<h2 class="text-center"> Latest Blogs </h2>

			<br/>

			{% load humanize %}



			{% for post in Post%}

			<div class="card">
  				  <div class="card-body">
  				  	<h4 class="card-title to-left">{{post.title}}</h4>
  				  	<div class="to-right">
  				  	{% if post.id in List %}
      					<i class="fas fa-heart like" data-post="{{post.id}}"></i>
      				{%else%}
      					<i class="far fa-heart like" data-user="{{User.id}}" data-post="{{post.id}}"></i>
      				{%endif%}
      					<span style="margin-right: 5px; margin-left: 5px; font-weight: 600;" class="count_like" data-count="{{post.id}}">{{post.count_like}}</span>
      				</div>
  				  	<p class="card-text to-left">{{post.short}}.......
     						<a href="{% url 'SingleBlog' post.author.id post.id %}" class="card-link">Read Full Article</a>
  				  	</p>
  				  	<br/>
      				By <a href="{% url 'PublicBlog' post.author.id %}" class="card-link ">{{post.author}}</a>
     				<p class="to-right">{{post.published_date|naturaltime}}</p>
     			  </div> 
			</div>

			<br />

			{%endfor%}


		</div>

		<div class="col-sm-3 bg-secondary flex-grow-1 ">
				{% include 'Home/sidenav.html'%}
		</div>
	</div>
</div>

{%include 'Home/footer.html'%}