{%include 'Home/header.html'%}
<div class="container-fluid h-100 d-flex flex-column">
	<div class="row justify-content-center flex-grow-1">
		<div class="col-sm-9 single-blog h-100">
			<br/>

			<h2 class="text-center">Manage Your Blog</h2>

			<br/>

			{% load humanize %}

			{% for post in Post%}

			<div class="card">
  				  <div class="card-body">
  				  	<h3 class="card-title">{{post.title}}</h3>
					<a href="{% url 'DeleteBlog' post.author.id post.id %}"><button class="btn btn-danger my-auto to-left">Delete Blog</button></a>
      				<a href="{% url 'UpdateBlog' post.author.id post.id %}"><button class="btn btn-success my-auto to-left" style="margin-left: 20px;">Edit Blog</button></a>
      				
     				<p class="to-right">{{post.published_date|naturaltime}}</p>
     			  </div> 
			</div>
			{%endfor%}


		</div>

		<div class="col-sm-3 bg-secondary flex-grow-1 ">
				{% include 'Home/sidenav.html'%}
		</div>
	</div>
</div>
{%include 'Home/footer.html'%}