	@import url('https://fonts.googleapis.com/css?family=Acme|Dancing+Script');
	
	body,html{
		width:100%;
		height: 100%;
		margin: 0 auto;
	}

	.font1{
		font-family: 'Dancing Script',cursive;
	}
	.font2{
		font-family: 'Acme',sans-serif;
	}

	#header{
		margin: 0 auto;
		position: relative;
		width: 100%;
		height: 85px;
		background: #4c4c4c;
	}

	#header h1{
		position: relative;
		margin-left: 50px;
		top:50%;
		transform: translateY(-50%);
		color: #fff;
		font-size: 45px;
		font-family: 'Acme', sans-serif;
		float: left;
	}

	#header #moto{
		position: relative;
		float: right;
		top:50%;
		transform: translateY(-50%);
		font-family: 'Dancing Script', cursive;
		font-size: 20px;
		margin-right: 2%;
		color:  #dfdfdf;
	}

	.bg_dark{
		background: #5c5c5c;
	}

	.list-group-item-dark{
		background: #4c4c4c;
		color: #fff;
	}

	.to-right{
		float: right !important;
	}
	.to-left{
		float: left !important;
	}



	#title_text{
		min-width: 500px;
		max-height: 100px;
		width: 70%;
		height: 50px;
		background: rgba(0,0,0,0);
		margin-left:10px;

		font-size:30px;
		overflow: hidden;
		border: none;
		outline: none;
		resize: none;
	}


	 #content_text{
		min-height: 250px;
		width: 90%;
		height: 500px;
		background: rgba(0,0,0,0);
		margin-left:10px;

		font-size:30px;
		overflow: hidden;
		border: none;
		outline: none;
		resize: none;
	}

	.jumbotron{
		padding: 3rem 3rem !important;
	}

	.full-height{
		height: 100%;
	}

	.signle-blog{
		background: #fefefe;
	}

	.single-blog h2{
		font-family:'Acme';
		font-weight:700;
		margin-left: 15px;
		margin-top:20px;
		font-size:45px;
		color:#333;
	}

	.single-blog .paragraph{
		margin-top: 15px;
		margin-left:15px;
		font-size:20px;
		font-family:serif;
		font-weight:100;
		color:#333;
}

	.single-blog .paragraph b{
		font-weight:700;		
	}

	.single-blog .paragraph big{
		font-size: 35px;
	}

	.single-blog .paragraph i{
		font-style: italic;
	}


	.single-blog .paragraph u{
		font-style: underline;
	}

	.error{
		color: red;
   		font-size: 15px;
    	font-family: serif;
    	font-style: oblique;
    	font-weight: 500;
	}

	.like{
		cursor: pointer;
	}

	 .fas .fa-heart i , .fas .fa-heart svg{
		color: red !important;
		fill: currentColor;
	}

	@media (max-width: 500px){
		#header h1{
			margin: 0 auto;
			text-align: center;
			float: none;
		}
		#moto{
			display: none;
		}
	}

	